<nav class="navbar navbar-light" style="background-color: #3d86bb;">
  <span class="appName"> Super Team Picker</span>
  <a class='navstyle'  href='/'>Home</a> 
  <a class='navstyle' href='/cohorts'>Cohort</a> 
  <a class='navstyle' href='/cohorts/new'>New Cohort</a>     
</nav>