<nav class="navbar navbar bg-light">
  <div class="navbar-header">
    <a class="navbar-brand" href='/'>Team Picker</a>
  </div>
  
  <div>   
    <a style="padding-right:2rem" href='/cohorts'>Home</a>
    
    <a style="padding-right:2rem" href='/cohorts'>Cohort</a>
    
    <a href='/cohorts/new'>New Cohort</a>
      
  </div>   
 
</nav>