<%- include("./partials/header") %>
<div style= "text-align:center;color:rgb(20, 148, 233)">
  <br/>
  <h3> WELCOME </h3>
  <h3>TO</h3>
  <h3> SUPER TEAM PICKER</h3>
  <br/>
</div>
<%- include("./partials/footer") %>s