#logoSize{
  height: 3em;
  width: 3em;
  
}

#groupButton{
  padding:4px;
  margin:2px;
}
.navstyle{
  padding-right:2rem;
  color:white;
}
body {
  background-color:lightsteelblue !important;
 
 


}
